
<div id='container'>
    <nav>
        <ul>
            <li><%= link_to 'Chill Out Room', '#'%></li>
            <li><%= link_to 'Hang Out Room', '#'%></li>
        </ul>
        <ul>
            <li><%= link_to 'Logout', '#'%></li>
        </ul>
    </nav>

    <div id='chat-container'>
        <header>Chill Out Room</header>
        <div id='chat-box'>
            <div class='row'>
                <p>This is a message sample</p>
                <span>--author</span>
            </div>
        </div>

    <div id='form-box'>
        <%= form_for :message do |f| %>
            <%= f.text_field :content, id: 'message_input' %>
            <%= f.submit 'Send Message' %>
        <% end %>
    </div>
</div>
</div>
